.main {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: rgb(133, 133, 133);
  display: flex;
  gap: 50px;
  align-items: center;
}

.random-generator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(204, 235, 204);
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 215, 172);
  height: 400px;
}

.content {
  background-color: rgb(193, 193, 193);
}
